<button id="snap">TAKE PHOTO</button>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
<script type="text/javascript">
  var socket = io('http://18.111.65.73:8001');
  socket.on('triggerhappy', function (data) {
    console.log(data);
  });

  $('#snap').on('click', function() {
    socket.emit('trigger', { triggered: true });
    /*
    $.post('/takephoto', {}, function(data) {
      console.log(data);

    });
*/
  });
</script>
