<html>
<head>
<style>
body {
  text-align: center;
}
button {
  padding: 30px 100px;
  font: sans-serif;
  font-size: 30px;
}
</style>
</head>
<body>
<button id="ping">PING LAPTOPS</button><br />
<button id="snap">TAKE PHOTO</button>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
<script type="text/javascript">

  var socket = io('http://18.242.7.123:8001');
  socket.on('triggerhappy', function (data) {
    console.log(data);
  });

  var timer = 0;
  var timeExtract;

  $('#snap').on('click', function() {
    console.log('TAKING PHOTO AT' + timer);
    timeExtract = timer + 15;
    socket.emit('trigger', {triggered: timeExtract});
    /*
    $.post('/takephoto', {}, function(data) {
      console.log(data);

    });
*/
  });


  $('#ping').on('click', function() {
    socket.emit('pingtest', { triggered: true });
    /*
    $.post('/takephoto', {}, function(data) {
      console.log(data);

    });
*/
  });


  document.addEventListener('keydown', function(ev) {
    if (ev.which === 32) { 
      if (timer < 1){
        setInterval(clock, 200);
      }
    }
  });

  clock = function() {
    timer ++;
    console.log(timer);
  }
</script>
</body>
</html>